.applauncher {
    .app-search {
        icon {
            font-size: 20px;
            min-width: 40px;
            min-height: 40px
        }

        entry {}
    }

    .app-list {
        row {
            border-radius: 10px;

            &:hover, &:selected {
                icon {
                    -gtk-icon-shadow: 2px 2px $accent_color;
                }
            }

            .app {
                margin: 20px;
                font-size: 16px;
            }
        }

        .placeholder {
            font-size: 20px;
        }
    }
}
