@import 'colors.scss';

window, viewport {
    all: unset;
}

.widget {
    margin: 10px;
    padding: 5px;
    border-radius: 7px;
    background-color: rgba($window_bg_color, 1);
    box-shadow: 8px 8px rgba($accent_color, 1);
}

@import 'widgets/applauncher/style.scss';
@import 'widgets/bar/style.scss';
@import 'widgets/date/style.scss';
@import 'widgets/icon-browser/style.scss';
@import 'widgets/lockscreen/style.scss';
@import 'widgets/notifs/style.scss';
@import 'widgets/powermenu/style.scss';
