.bar {
    margin: 5px;
}

.current-window {
    color: #CBA6F7;
    font-size: 18px;
}

.osk-toggle,
.tablet-toggle,
.heart-toggle {
    font-size: 28px;
    min-height: 40px;
    min-width: 53px;
}

.heart-toggle {
    font-size: 28px;
    min-height: 40px;
    color: #CBA6F7;
}

.notif-panel {
    font-size: 20px;
    min-height: 37px;
    min-width: 105px;
}

.quick-settings-toggle {
    font-size: 24px;
    min-height: 40px;
    min-width: 40px;
    padding-right: 4px;
    margin-left: -3px;
}

.toggle-off {
    background-color: $bg;
    color: #CBA6F7;
    border-radius: 80px;
    border: 2px solid $bg-secondary;
    transition: background-color 0.5s ease-in-out,
        border 0.5s ease-in-out;
}

.toggle-on {
    background-color: $bg;
    color: #CBA6F7;
    border-radius: 80px;
    border: 2px solid $contrast-bg;
    transition: background-color 0.5s ease-in-out,
        border 0.5s ease-in-out;
}

.toggle-on:hover,
.toggle-off:hover {
    background-color: rgba(127, 132, 156, 0.4);
    transition: background-color 0.5s ease-in-out,
        border 0.5s ease-in-out;
}

.clock {
    font-size: 20px;
    padding: 0 15px;
}

.audio,
.bluetooth,
.brightness,
.keyboard {
    padding: 0 10px;
    font-size: 20px;
    margin-right: -10px;
}

.network {
    padding: 0 10px;
    font-size: 20px;
}

.bg-text {
    color: $bg;
    font-weight: bold;
}

.battery {
    padding: 0 10px;
    font-size: 20px;

    .battery-indicator {
        &.charging {
            color: green;
        }

        &.charged {
            // TODO: charged battery style
        }

        &.low {
            color: red;
        }
    }

    icon {
        .charging {
            // TODO: charging battery style
        }

        .discharging {
            // TODO: discharging battery style
        }
    }

    label {
        font-size: 20px;
    }
}

tooltip {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}
