.workspaces {
  background-color: $bg;
  border-radius: 80px;
  border: 2px solid $bg-secondary;
  padding: 3px 12px;

  .button {
    margin: 0 2.5px;
    min-height: 22px;
    min-width: 22px;
    border-radius: 100%;
  }
  
  .empty {
    border: none;
    transition: border-color 0.25s linear;
  }

  .occupied {
    border: 2px solid $bg;
    background: $contrast-bg;
    transition: border-color 0.25s linear;
  }

  .active {
    border: 2px solid #50fa7b;
    transition: border-color 0.25s linear;
  }
}
