/* https://github.com/dracula/wofi/blob/master/style.css */
* {
  font-size: 16px;
}

window,
undershoot {
  all: unset;
}

#input {
  all: unset;
  border-radius: 9px;
  color: #f8f8f2;
  background-color: rgba(#44475a, 0.6);
  border: 1px solid #44475a;
  padding: 8px;
  margin: 16.2px;
  margin-bottom: 0;
}

#outer-box {
  all: unset;
  box-shadow: 0 0 4.5px 0 rgba(0, 0, 0, 0.6);
  border: 2px solid rgba(189, 147, 249, 0.8);
  border-radius: 25px;
  background-color: rgba(40, 42, 54, 0.8);
  color: #f8f8f2;
  padding: 16.2px;
}

#inner-box {
  padding: 16.2px;
  min-width: 500px;
  min-height: 450px;
}

#scroll scrollbar, #scroll scrollbar * {
  all: unset;
}

#scroll scrollbar {
  transition: 200ms;
  background-color: rgba(23, 23, 23, 0.3);

  &:hover {
    background-color: rgba(23, 23, 23, 0.7);
  }
}
#scroll scrollbar.vertical:hover slider {
  background-color: rgba(238, 238, 238, 0.7);
  min-width: .6em;
}
#scroll scrollbar.horizontal:hover slider {
  background-color: rgba(238, 238, 238, 0.7);
  min-height: .6em;
}
#scroll .vertical slider {
  background-color: rgba(238, 238, 238, 0.5);
  border-radius: 9px;
  min-width: .4em;
  min-height: 2em;
  transition: 200ms;
}
#scroll .horizontal slider {
  background-color: rgba(238, 238, 238, 0.5);
  border-radius: 9px;
  min-height: .4em;
  min-width: 2em;
  transition: 200ms;
}

#entry {
  all: unset;
  padding: 9px;
}

#entry image, #entry label {
  all: unset;
}
 #entry image {
  margin-right: 9px;
}

#entry:selected {
  background-color: rgba(189, 147, 249, 0.5);
  border-radius: 9px;
  box-shadow: inset 0 0 0 3px rgba(238, 238, 238, 0.03);
}
#entry:selected image {
  -gtk-icon-shadow: 3px 3px rgba(0, 0, 0, 0.8);
}
