.browser-toolbar > * #alltabs-button,
#appMenu-fxa-status2,
#appMenu-fxa-separator {
  display: none !important;
}

#appMenu-popup {
  position: fixed !important;
  top: 0px !important;
  left: 0px !important;
  margin: 0 !important;
}

#appMenu-popup panelview {
  border-width: 2px 6px !important;
  border-radius: 5% 0 0 5% !important;
  border-image: var(--panel-separator-zap-gradient4) 1 !important;
}

#unified-extensions-panel panelview {
  border-width: 0 !important;
  border-radius: 0px !important;
}

slot {
  margin: 0 !important;
  border-radius: 5% 0 0 5% !important;
}

@media screen {
  :root:not([chromehidden~="toolbar"]) #PersonalToolbar {
    margin-top: -106.5px !important;
  }
}
