.browser-toolbar > * #alltabs-button,
#appMenu-fxa-status2,
#appMenu-fxa-separator {
  display: none !important;
}

/* https://github.com/Godiesc/firefox-gx/blob/main/Tricks/README.md */
/* Extensions button into the "left-sidebar" - Immovable */

:root:not([chromehidden~="toolbar"],[sizemode="fullscreen"]) #PersonalToolbar {
    --padding-top-left-sidebar: 110px !important; /* 182px to one-line config */
}

:root:not([chromehidden~="toolbar"], [sizemode="fullscreen"]) #unified-extensions-button {
    --toolbarbutton-hover-background: transparent !important;
    --toolbarbutton-active-background: transparent !important;
    position: fixed;
    display: flex;
    top: 50px !important;
    left: inherit !important;
    z-index: 2 !important;
    fill: var(--general-color) !important;
    width: calc(var(--uc-vertical-toolbar-width) - 4px) !important;
}

:root:not([chromehidden~="toolbar"], [sizemode="fullscreen"]) #unified-extensions-button:hover,
:root:not([chromehidden~="toolbar"], [sizemode="fullscreen"]) #unified-extensions-button[open] {
    transform: scale(1.12) !important;
    transition: ease-in-out !important;
}

:root:not([chromehidden~="toolbar"], [sizemode="fullscreen"]) #unified-extensions-button:active {
    transform: scale(1.0) !important;
    transition-duration: 0ms !important;
}
