.notification.widget {
    // urgencies
    // &.urgency ...

    .icon {
        margin-right: 10px;
    }

    .time {
        margin: 3px;
    }

    .close-button {
        margin: 3px;
    }

    .title {
        font-weight: 800;
        font-size: 20px;
        margin-bottom: 5px;
    }

    .description {
        margin-bottom: 5px;
    }

    .actions {
        margin: 3px;

        .action-button {}
    }

    .smooth-progress {
        min-height: 7px;
        margin: 3px;

        .background {
            background-color: darken($window_bg_color, 3%);
            border-radius: 3px;
        }

        .progress {
            background-color: $accent-color;
            border-radius: 3px;
        }
    }
}
