$darkbg: #0b0d16;
$bg: rgba(40, 42, 54, 0.8); // rgba(69, 71, 90, 0.3); #0d0f18;
$bgfull: rgb(40, 42, 54);
$contrast-bg: rgba(189, 147, 249, 0.8);
$contrast-bg-full: rgba(189, 147, 249, 1);
$bg-secondary: rgba(#382c4a, 0.8);
$bg-secondary-alt: #a5b6cf;
$fg: #a5b6cf;
$fg-dim: #a5b6cf;
$watermelon: #dd6777;

// Aliases
$background: $bg;
$background-secondary: $bg-secondary;
$background-secondary-alt: $bg-secondary-alt;
$foreground: $fg;
$foreground-dim: $fg-dim;

$black: #151720;
$dimblack: #1a1c25;
$lightblack: #262831;
$red: #dd6777;
$blue: #86aaec;
$cyan: #93cee9;
$blue-desaturated: #93cee9;
$magenta: #c296eb;
$purple: #c296eb;
$green: #90ceaa;
$aquamarine: #90ceaa;
$yellow: #ecd3a0;
$accent: $blue;
$javacafe-magenta: #c296eb;
$javacafe-blue: #86aaec;


scrolledwindow {

    scrollbar,
    scrollbar * {
        all: unset;
    }

    scrollbar.vertical {
        transition: 200ms;
        background-color: rgba(23, 23, 23, 0.3);
        margin: 20px 0;

        &:hover {
            background-color: rgba(23, 23, 23, 0.7);

            slider {
                background-color: rgba(238, 238, 238, 0.7);
                min-width: .6em;
            }
        }

        slider {
            background-color: rgba(238, 238, 238, 0.5);
            border-radius: 9px;
            min-width: .4em;
            min-height: 2em;
            transition: 200ms;
        }
    }
}
