* {
  all: unset; }

.powermenu {
  background-color: rgba(40, 42, 54, 0.8);
  color: #a5b6cf;
  padding: 10px;
  font-family: MesloLGS NF;
  /*font-family: Iosevka Nerd Font;*/
  font-size: 70px;
  border-radius: 30px;
  border: 2px solid rgba(189, 147, 249, 0.8); }
  .powermenu label {
    min-width: 140px;
    min-height: 130px; }
  .powermenu button {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 12px;
    min-width: 80px;
    transition: all ease .2s; }
    .powermenu button:hover {
      background-color: rgba(56, 44, 74, 0.8); }
    .powermenu button:active {
      background-color: rgba(56, 44, 74, 0.8); }
    .powermenu button .content {
      border-radius: 4px;
      padding: 0px 15px 0px 15px; }
  .powermenu .shutdown {
    color: #dd6777; }
  .powermenu .reboot {
    color: #c296eb; }
  .powermenu .logout {
    color: #ecd3a0; }

.powermenu-clickhandler {
  background-color: black; }

.osk-toggle,
.tablet-toggle,
.heart-toggle {
  font-size: 28px;
  min-height: 40px;
  min-width: 53px; }

.notif-panel {
  font-size: 20px;
  border-radius: 80px;
  min-height: 37px;
  min-width: 105px;
  padding: 1px 0px 1px 5px; }
  .notif-panel .toggle-on {
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 0px solid rgba(40, 42, 54, 0.8); }

.quick-settings-toggle {
  font-size: 24px;
  min-height: 40px;
  min-width: 40px;
  padding-right: 4px;
  margin-left: -3px; }

.toggle-off {
  background-color: rgba(40, 42, 54, 0.8);
  color: #CBA6F7;
  border-radius: 80px;
  border: 2px solid rgba(56, 44, 74, 0.8);
  transition: background-color 0.5s ease-in-out, border 0.5s ease-in-out; }

.toggle-on {
  background-color: rgba(40, 42, 54, 0.8);
  color: #CBA6F7;
  border-radius: 80px;
  border: 2px solid rgba(189, 147, 249, 0.8);
  transition: background-color 0.5s ease-in-out, border 0.5s ease-in-out; }

.toggle-on:hover, .toggle-off:hover {
  background-color: rgba(127, 132, 156, 0.4);
  transition: background-color 0.5s ease-in-out, border 0.5s ease-in-out; }

.clock {
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 230px; }

.audio {
  padding: 0 10px 0 10px;
  font-size: 20px; }

.battery {
  padding: 0 10px 0 10px;
  font-size: 20px; }
  .battery .battery-indicator.charging {
    color: green; }
  .battery .battery-indicator.low {
    color: red; }
  .battery .label {
    font-size: 20px; }

.brightness trough {
  margin-right: -50px; }
  .brightness trough progress {
    margin-right: 50px;
    margin-top: -30px;
    border-radius: 80px;
    min-height: 36px;
    background: rgba(94, 73, 124, 0.8); }

tooltip {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px; }

.workspaces {
  background-color: rgba(40, 42, 54, 0.8);
  border-radius: 80px;
  border: 2px solid #1b1b1b;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 12px;
  padding-right: 12px; }
  .workspaces .button {
    margin: 2px;
    min-width: 20px;
    border-radius: 100%; }
    .workspaces .button * {
      color: transparent; }
  .workspaces .empty {
    border: none;
    transition: border-color 0.25s linear; }
  .workspaces .occupied {
    border: 2px solid rgba(40, 42, 54, 0.8);
    background: rgba(189, 147, 249, 0.8);
    transition: border-color 0.25s linear; }
  .workspaces .active {
    border: 2px solid #50fa7b;
    transition: border-color 0.25s linear; }

.sys-tray {
  padding: 5px;
  background-color: rgba(40, 42, 54, 0.8);
  color: #CBA6F7;
  border-radius: 80px;
  border: 2px solid rgba(56, 44, 74, 0.8);
  transition: background-color 0.5s ease-in-out, border 0.5s ease-in-out; }
  .sys-tray .tray-item {
    all: unset;
    padding: 0px 2px 0px 2px;
    font-size: 25px;
    border-radius: 100%;
    transition: background-color 0.5s ease-in-out, border 0.5s ease-in-out; }
    .sys-tray .tray-item:hover {
      background: rgba(127, 132, 156, 0.4);
      border-radius: 100%;
      transition: background-color 0.5s ease-in-out, border 0.5s ease-in-out; }
  .sys-tray menu {
    background: #282a36;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid #1b1b1b;
    border-radius: 10px; }
    .sys-tray menu check {
      color: white;
      margin-left: 2px;
      margin-right: 5px;
      min-height: 20px;
      min-width: 20px;
      -gtk-icon-source: -gtk-icontheme("checkbox-symbolic"); }
      .sys-tray menu check:checked {
        -gtk-icon-source: -gtk-icontheme("checkbox-checked-symbolic"); }
  .sys-tray menuitem:not(.tray-item) {
    padding: 5px;
    transition: all 0.2s ease-in-out; }
    .sys-tray menuitem:not(.tray-item):hover {
      background: #1b1b1b; }

.notification-center {
  min-height: 700px;
  min-width: 500px;
  margin-top: 6px;
  margin-right: 60px;
  background: rgba(40, 42, 54, 0.8);
  border-radius: 12px;
  border-top-right-radius: 0px;
  border: 2px solid rgba(189, 147, 249, 0.8);
  padding: 0px;
  box-shadow: 0 0 4.5px 0 rgba(0, 0, 0, 0.6); }
  .notification-center * {
    font-size: 16px; }
  .notification-center .header {
    padding: 10px;
    margin-top: 22px;
    margin-bottom: 9px; }
    .notification-center .header label {
      font-size: 22px; }
    .notification-center .header button {
      all: unset;
      transition: 200ms;
      border-radius: 9px;
      color: #eee;
      background-color: #664C90;
      box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.03);
      padding: 4.5px 9px; }
      .notification-center .header button:hover {
        box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.03);
        background-color: rgba(238, 238, 238, 0.154);
        color: #f1f1f1; }
      .notification-center .header button:disabled {
        box-shadow: none;
        background-color: rgba(102, 76, 144, 0.3);
        color: rgba(238, 238, 238, 0.3); }
      .notification-center .header button label {
        font-size: 1.2em; }
  .notification-center .notification-list-box {
    background: #282a36;
    border-radius: 12px;
    border-top: 3px solid rgba(56, 44, 74, 0.8);
    box-shadow: 0 0 4.5px 0 rgba(0, 0, 0, 0.2); }
    .notification-center .notification-list-box scrollbar {
      all: unset;
      border-radius: 8px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
      .notification-center .notification-list-box scrollbar * {
        all: unset; }
      .notification-center .notification-list-box scrollbar:hover {
        border-radius: 8px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0; }
    .notification-center .notification-list-box scrollbar.vertical {
      transition: 200ms;
      background-color: rgba(23, 23, 23, 0.3); }
      .notification-center .notification-list-box scrollbar.vertical:hover {
        background-color: rgba(23, 23, 23, 0.7); }
        .notification-center .notification-list-box scrollbar.vertical:hover slider {
          background-color: rgba(238, 238, 238, 0.7);
          min-width: .6em; }
      .notification-center .notification-list-box scrollbar.vertical slider {
        background-color: rgba(238, 238, 238, 0.5);
        border-radius: 9px;
        min-width: .4em;
        min-height: 2em;
        transition: 200ms; }
  .notification-center .placeholder {
    color: white; }
    .notification-center .placeholder image {
      font-size: 7em;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
      -gtk-icon-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6); }
    .notification-center .placeholder label {
      font-size: 1.2em;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
      -gtk-icon-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6); }

.notification.critical > box {
  box-shadow: inset 0 0 0.5em 0 #e67090; }

.notification > box {
  border-radius: 4.5px;
  padding: 9px;
  all: unset;
  box-shadow: 0 0 4.5px 0 rgba(0, 0, 0, 0.6);
  margin: 9px;
  border: 1px solid rgba(238, 238, 238, 0.04);
  border-radius: 15.3px;
  background-color: #171717;
  color: #eee;
  padding: 16.2px;
  border-radius: 9px; }
  .notification > box * {
    font-size: 16px;
    font-family: "Ubuntu Nerd Font", sans-serif; }

.notification:hover .close-button {
  box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.03);
  background-color: rgba(238, 238, 238, 0.154);
  color: #f1f1f1;
  background-color: rgba(230, 112, 144, 0.5); }

.notification .title {
  margin-right: 9px;
  color: #eee;
  font-size: 1.1em; }

.notification .time {
  color: rgba(238, 238, 238, 0.8); }

.notification .description {
  font-size: .9em;
  color: rgba(238, 238, 238, 0.8);
  min-width: 350px; }

.notification .icon {
  border-radius: 7.2px;
  margin-right: 9px; }

.notification .icon.img {
  border: 1px solid rgba(238, 238, 238, 0.03); }

.notification .actions button {
  all: unset;
  transition: 200ms;
  border-radius: 9px;
  color: #eee;
  background-color: rgba(238, 238, 238, 0.06);
  box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.03);
  border-radius: 7.2px;
  font-size: 1.2em;
  padding: 4.5px 9px;
  margin: 9px 4.5px 0; }
  .notification .actions button * {
    font-size: 16px;
    font-family: "Ubuntu Nerd Font", sans-serif; }
  .notification .actions button:focus {
    box-shadow: inset 0 0 0 1px #51a4e7;
    background-color: rgba(238, 238, 238, 0.154);
    color: #f1f1f1; }
  .notification .actions button:hover {
    box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.03);
    background-color: rgba(238, 238, 238, 0.154);
    color: #f1f1f1; }
  .notification .actions button:active {
    box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.03);
    background-image: linear-gradient(to right, #51a4e7, #6cb2eb);
    background-color: #51a4e7;
    color: #141414; }
    .notification .actions button:active:hover {
      box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.03), inset 0 0 0 99px rgba(238, 238, 238, 0.154); }
  .notification .actions button:checked {
    box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.03);
    background-image: linear-gradient(to right, #51a4e7, #6cb2eb);
    background-color: #51a4e7;
    color: #141414; }
    .notification .actions button:checked:hover {
      box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.03), inset 0 0 0 99px rgba(238, 238, 238, 0.154); }
  .notification .actions button:disabled {
    box-shadow: none;
    background-color: transparent;
    color: rgba(238, 238, 238, 0.3); }
  .notification .actions button:first-child {
    margin-left: 0; }
  .notification .actions button:last-child {
    margin-right: 0; }

.notification .actions button.on {
  box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.03);
  background-image: linear-gradient(to right, #51a4e7, #6cb2eb);
  background-color: #51a4e7;
  color: #141414; }
  .notification .actions button.on:hover {
    box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.03), inset 0 0 0 99px rgba(238, 238, 238, 0.154); }

.notification .actions button.active {
  box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.03);
  background-image: linear-gradient(to right, #51a4e7, #6cb2eb);
  background-color: #51a4e7;
  color: #141414; }
  .notification .actions button.active:hover {
    box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.03), inset 0 0 0 99px rgba(238, 238, 238, 0.154); }

.notification button.close-button {
  all: unset;
  transition: 200ms;
  border-radius: 9px;
  color: #eee;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  margin-left: 9px;
  border-radius: 7.2px;
  min-width: 1.2em;
  min-height: 1.2em; }
  .notification button.close-button * {
    font-size: 16px;
    font-family: "Ubuntu Nerd Font", sans-serif; }
  .notification button.close-button:focus {
    box-shadow: inset 0 0 0 1px #51a4e7;
    background-color: rgba(238, 238, 238, 0.154);
    color: #f1f1f1; }
  .notification button.close-button:hover {
    box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.03);
    background-color: rgba(238, 238, 238, 0.154);
    color: #f1f1f1;
    background-color: rgba(230, 112, 144, 0.5); }
  .notification button.close-button:active {
    box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.03);
    background-image: linear-gradient(to right, #51a4e7, #6cb2eb);
    background-color: #51a4e7;
    color: #141414;
    background-image: linear-gradient(#e67090, #e67090); }
    .notification button.close-button:active:hover {
      box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.03), inset 0 0 0 99px rgba(238, 238, 238, 0.154); }
  .notification button.close-button:checked {
    box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.03);
    background-image: linear-gradient(to right, #51a4e7, #6cb2eb);
    background-color: #51a4e7;
    color: #141414; }
    .notification button.close-button:checked:hover {
      box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.03), inset 0 0 0 99px rgba(238, 238, 238, 0.154); }
  .notification button.close-button:disabled {
    box-shadow: none;
    background-color: transparent;
    color: rgba(238, 238, 238, 0.3); }

.notification button.close-button.on {
  box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.03);
  background-image: linear-gradient(to right, #51a4e7, #6cb2eb);
  background-color: #51a4e7;
  color: #141414; }
  .notification button.close-button.on:hover {
    box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.03), inset 0 0 0 99px rgba(238, 238, 238, 0.154); }

.notification button.close-button.active {
  box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.03);
  background-image: linear-gradient(to right, #51a4e7, #6cb2eb);
  background-color: #51a4e7;
  color: #141414; }
  .notification button.close-button.active:hover {
    box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.03), inset 0 0 0 99px rgba(238, 238, 238, 0.154); }
