.osd {
    padding: 12px 20px;
    background: rgba(40, 42, 54, 0.8);
    border: 2px solid $contrast-bg;

    label {
        min-width: 170px;
    }

    progressbar:disabled {
        opacity: 0.5;
    }

    progressbar {
        min-height: 6px;
        min-width: 170px;
        border-radius: 999px;
        background: transparent;
        border: none;

        trough {
            background: #363847;
            min-height: inherit;
            border: none;
        }

        progress {
            background: #79659f;
            min-height: inherit;
            border: none;
        }
    }

    image {
        font-size: 2rem;
        color: white;
        margin-left: -0.4rem;
        margin-right: 0.8rem;
    }
}
