.quick-settings {
    font-size: 30px;
    min-width: 500px;
    padding: 0;
    background-color: $bg;
    border-radius: 30px 0 30px 30px;
    border: 2px solid $contrast-bg;
}

.title {
    font-size: 22px;
    margin-top: 30px;
}

.grid-label {
    font-size: 30px;
    margin-left: 15px;
    margin-right: 10px;
    min-width: 50px;
}

.scrolled-indicator {
    margin: 5px 0;
}

.menu {
    margin: 10px;
    padding: 0;
    border: 1.5px solid $contrast-bg;
    border-radius: 10px;
    font-size: 12px;

    scrolledwindow {
        padding: 3px;
    }

    row {
        padding: 0;
        margin: 0;
    }

    .menu-item {
        margin: 5px;

        label {
            font-size: 16px;
            margin-left: 5px;
        }

        image {
            font-size: 20px;
        }
    }
}

.sub-label {
    font-size: 14px;
    padding: 3px;
    border: 2px solid $contrast-bg;
    border-radius: 10px 20px 20px 10px;
    min-width: 106px;
    background: #1b1b1b;
    margin-top: 5px;
}

.grid-chev {
    margin-left: 10px;
    margin-right: 12px;
    font-size: 25px;

    transition: -gtk-icon-transform 0.3s ease-in-out;
}

.button-grid {
    font-size: 10px;
    min-width: 440px;
    background-color: $bgfull;
    border-top: 2px solid $contrast-bg;
    border-bottom: 2px solid $contrast-bg;
    border-radius: 15px;
    padding: 10px 15px;
}

.grid-button {
    min-height: 65px;
    min-width: 70px;
}

.left-part {
    background: #1b1b1b;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-left: 2px solid $contrast-bg;
    border-top: 2px solid $contrast-bg;
    border-bottom: 2px solid $contrast-bg;
    transition: all 0.5s ease-in-out;
}

.right-part {
    background: #1b1b1b;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-right: 2px solid $contrast-bg;
    border-top: 2px solid $contrast-bg;
    border-bottom: 2px solid $contrast-bg;
    transition: all 0.5s ease-in-out;
}

.right-part:hover,
.right-part:active {
    color: $contrast-bg;
    border: 2px solid $contrast-bg;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    transition: all 0.5s ease-in-out;
}

.left-part:hover,
.left-part:active {
    color: $contrast-bg;
    border: 2px solid $contrast-bg;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: all 0.5s ease-in-out;
}

.player {
    margin-top: 6px;
    min-height: 220px;
    opacity: 0;
}

.slider-box {
    min-height: 100px;
    min-width: 470px;
    background-color: $bgfull;
    border-top: 2px solid $contrast-bg;
    border-bottom: 2px solid $contrast-bg;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 20px;

    .slider-label {
        font-size: 30px;
        min-width: 40px;
        margin-right: -20px;
    }

    .slider {
        min-height: 55px;
        margin-right: -15px;

        scale {
            min-width: 400px;
            margin-left: 18px;
            margin-right: 20px;

            highlight {
                margin: 0;
                background-color: #79659f;
                border-radius: 2em;
            }

            trough {
                background-color: #363847;
                border-radius: 2em;
            }

            slider {
                margin: -4px;
                min-width: 20px;
                min-height: 20px;
                background: #3e4153;
                border-radius: 100%;
                transition: background-color 0.5s ease-in-out;
            }

            slider:hover {
                background-color: #303240;
                transition: background-color 0.5s ease-in-out;
            }
        }
    }
}
