.bar {

    .clock,
    .notif-panel {
        border: 2px solid $contrast-bg;
        padding: 4.5px 7px;
        background-color: $bgfull;
    }

    .sys-tray {
        border: 2px solid $contrast-bg;

        menubar {
            background-color: $bgfull;
            padding: 2.5px;
        }

        menuitem {
            image {
                color: #CBA6F7;
            }

            padding: 0 2px;

            * {
                font-size: 25px;
            }
        }

        menuitem:first-child image {
            padding-left: 4px;
        }
    }

    .current-window {
        border: 2px solid $contrast-bg;
        font-size: 18px;
        padding-right: 7px;
        background-color: $bgfull;
    }
}
