.clipboard {
    all: unset;
    border: 2px solid $contrast-bg;
    background-color: $bg;
    color: #f8f8f2;
    padding: 2px;

    * {
        font-size: 16px;
    }

    list,
    row {
        all: unset;
    }

    .header {
        margin: 16.2px;
        margin-bottom: 0;

        image,
        entry {
            all: unset;
            border-radius: 9px;
            color: #f8f8f2;
            background-color: rgba(#44475a, 0.6);
            border: 1px solid #44475a;
            padding: 4.5px;
        }

        image {
            margin-right: 9px;
            -gtk-icon-transform: scale(0.8);
            font-size: 25.6px;
        }
    }

    scrolledwindow {
        padding: 10px;
        padding-bottom: 0;
        min-width: 900px;
        min-height: 750px;
    }

    .item {
        all: unset;
        transition: 200ms;
        border-radius: 9px;
        padding: 10px;
    }

    *:selected .item,
    *:hover .item,
    *:focus .item {
        background-color: #363449;
    }

    .down-arrow {
        transition: all 500ms;
        opacity: 0.5;
    }
}
