.notification-center {
    border: 2px solid $contrast-bg;
    min-height: 700px;
    min-width: 524px;
    background: $bg;
    padding: 0;

    * {
        font-size: 16px;
    }

    .header {
        padding: 10px;
        margin-top: 22px;
        margin-bottom: 9px;

        label {
            font-size: 22px;
        }

        .clear {
            box {
                all: unset;
                transition: 200ms;
                color: #eee;
                background-color: #664C90;
                box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.03);
                padding: 4.5px 9px;
            }

            &:hover box {
                box-shadow: inset 0 0 0 1px rgba(238, 238, 238, 0.03);
                background-color: rgba(238, 238, 238, 0.154);
                color: #f1f1f1;
            }

            &.disabled box {
                box-shadow: none;
                background-color: rgba(#664C90, 0.3);
                color: rgba(238, 238, 238, 0.3);
            }

            label {
                font-size: 1.2em;
            }
        }
    }

    .notification-list-box {
        background: $bgfull;
        padding: 0 12px;
        border-top: 2px solid $contrast-bg;

        scrollbar {
            all: unset;
            border-radius: 8px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            * {
                all: unset;
            }

            &:hover {
                border-radius: 8px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }

        scrollbar.vertical {
            transition: 200ms;
            background-color: rgba(23, 23, 23, 0.3);

            &:hover {
                background-color: rgba(23, 23, 23, 0.7);

                slider {
                    background-color: rgba(238, 238, 238, 0.7);
                    min-width: .6em;
                }
            }

            slider {
                background-color: rgba(238, 238, 238, 0.5);
                border-radius: 9px;
                min-width: .4em;
                min-height: 2em;
                transition: 200ms;
            }
        }
    }

    .placeholder {
        color: white;

        image {
            font-size: 7em;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
            -gtk-icon-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
        }

        label {
            font-size: 1.2em;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
            -gtk-icon-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
        }
    }
}
