.powermenu {
    background-color: $bg;
    color: $fg;
    padding: 10px;
    font-family: "MesloLGS NF";

    font-size: 70px;
    border: 2px solid $contrast-bg;

    label {
        min-width: 140px;
        min-height: 130px;
    }

    .button {
        margin: 5px 10px;
        min-width: 80px;
        transition: all ease .2s;

        &:hover {
            background-color: $bg-secondary;
        }

        &:active {
            background-color: $bg-secondary;
        }

        .content {
            padding: 0 15px;
        }
    }

    .shutdown {
        color: $red;
    }

    .reboot {
        color: $magenta;
    }

    .logout {
        color: $yellow;
    }
}

.powermenu-clickhandler {
    background-color: black;
}
