.screenshot {
    background-color: $bg;
    color: $fg;
    border: 2px solid $contrast-bg;

    label {
        font-size: 20pt;
    }

    .header {
        border-bottom: 2px solid $contrast-bg;

        .header-btn {
            transition: 200ms;

            &:hover {
                background-color: rgba(23, 23, 23, 0.7);

                image {
                    -gtk-icon-shadow: 1px 1px $contrast-bg;
                }
            }

            label {
                margin: 10px;
                font-weight: bold;
            }

            image {
                font-size: 30px;
            }
        }
    }

    scrolledwindow {
        min-height: 400px;
        min-width: 800px;
        padding: 0 10px;

        box {
            .item-btn {
                transition: 200ms;

                &:hover {
                    background-color: rgba(23, 23, 23, 0.7);
                }
            }

            label {
                padding: 5px;
            }

            image {
                font-size: 30px;
            }

            &:first-child label {
                padding-top: 10px;
            }

            &:last-child label {
                padding-bottom: 10px;
            }
        }
    }
}
