.quick-settings-smol {
  font-size: 2px;
  min-height: 52px;
  min-width: 36px;
  padding: 0px 0px 0px 0px;
  background-color: $bg;
  color: rgba(0,0,0,0);
  border: 2px solid $contrastbg;
  border-bottom: none;
  border-top-right-radius: 80px;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.quick-settings-logo {
  font-size: 24px;
  min-height: 36px;
  min-width: 36px;
  padding: 0px 0px 0px 0px;
  background-color: rgba(0,0,0,0);
  color: #CBA6F7;
  border-radius: 80px;
  border: 2px solid rgba(0,0,0,0);
}

.quick-settings-logo:hover {
  background-color: rgba(127, 132, 156, 0.4);
  transition: background-color 0.5s ease-in-out;
}

.quick-settings {
  font-size: 30px;
  min-height: 600px;
  min-width: 360px;
  padding: 0px 0px 0px 0px;
  background-color: $bg;
  border-top-right-radius: 0px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 2px solid $contrastbg;
}
