@use 'colors';

window,
viewport,
stack {
    all: unset;
}

progressbar {
    border-radius: 999px;
    background: transparent;
    border: none;

    trough {
        background: #363847;
        min-height: inherit;
        border-radius: inherit;
        border: none;
    }

    progress {
        background: #79659f;
        min-height: inherit;
        border-radius: inherit;
        border: none;
    }

    &:disabled {
        opacity: 0.5;
    }
}

circular-progress {
    background: #363847;
    min-height: 35px;
    min-width: 35px;
    font-size: 4px;
    color: #79659f;

    &.disabled {
        opacity: 0.5;
    }
}

.widget {
    margin: 10px;
    padding: 5px;
    border-radius: 7px;
    background-color: colors.$window_bg_color;
    box-shadow: 8px 8px colors.$accent_color;
}
