@use 'sass:color';
@use '../../style/colors';

.powermenu {
    padding: 10px;

    icon {
        font-size: 70px;
        min-width: 130px;
        min-height: 130px;
    }

    label {
        font-size: 50px;
    }

    button {
        margin: 5px 10px;
        transition: all ease .2s;

        &:hover,
        &:active {
            background-color: color.adjust(colors.$window_bg_color, $lightness: 3%);
        }
    }

    .shutdown {
        color: colors.$red_1;
    }
    .reboot {
        color: colors.$purple_1;
    }
    .logout {
        color: colors.$yellow_1;
    }
}
