use flake "$FLAKE#netdaemon"
cp -rf ./HomeAssistantGenerated ./HomeAssistantGenerated.cs

echo -n "$(nix eval --file ./version.nix --json | jq -r '.version')" >> .version
echo -n "net$(nix eval --file ./version.nix --json | jq -r '.dotnetVersion')" >> .dotnetversion
