.bar {
    .bar-item {
        padding: 5px;
        border-radius: 7px;
        background-color: darken($window_bg_color, 3%);
        font-size: 20px;
        min-height: 30px;

        .battery icon {
            &.charging {
                color: green;
            }

            &.low {
                color: red;
            }
        }
    }
}
