@use 'sass:color';
@use '../../style/colors';

.settings {
    padding: 0.5rem;

    .button {
        background-color: colors.$window_bg_color;
        border: 0.1rem solid color.adjust(colors.$window_bg_color, $lightness: -3%);
        border-radius: 0.7rem;
        padding: 0.3rem;

        &.toggled {
            background-color: colors.$accent-color;
        }
    }
}

.osk {
    padding-top: 4px;

    &.hidden {
        opacity: 0;
    }

    .side {
        .key {
            &:active label {
                background-color: colors.$accent-color;
            }

            label {
                background-color: colors.$window_bg_color;
                border-radius: 6px;
                min-height: 3rem;

                transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;

                box-shadow: 2px 1px 2px colors.$accent-color;

                padding: 4px;

                margin: 4px 4px 4px 4px;

                &.active {
                    box-shadow: 0 0 0 white;
                    margin: 6px 4px 2px 4px;
                    background-color: color.adjust(colors.$window_bg_color, $lightness: -3%);
                }

                &.normal,
                &.Super {
                    min-width: 3rem;
                }

                &.Tab,
                &.Backspace {
                    min-width: 7rem;
                }

                &.Enter,
                &.Caps {
                    min-width: 8rem;
                }

                &.Shift {
                    min-width: 9rem;
                }

                &.Space {
                    min-width: 20rem;
                }

                &.PrtSc,
                &.AltGr {
                    min-width: 3.2rem;
                }

                &.altgr {
                    border: 0.08rem solid blue;
                }
            }
        }

        &.right-side {
            border-radius: 0 10px 0 0;

            .key .mod {
                &.Ctrl {
                    min-width: 2.4rem;
                }
            }
        }

        &.left-side {
            border-radius: 10px 0 0 0;

            .key .mod {
                &.Alt {
                    min-width: 3rem;
                }

                &.Ctrl {
                    min-width: 4rem;
                }
            }
        }
    }
}
