.sys-tray {
    padding: 5px;
    background-color: $bg;
    border-radius: 80px;
    border: 2px solid $bg-secondary;
    transition: background-color 0.5s ease-in-out,
        border 0.5s ease-in-out;

    menuitem {
        image {
            color: #CBA6F7;
        }

        background-color: transparent;
        padding: 0 2px;
        border-radius: 100%;
        transition: all 0.5s ease-in-out;

        &:hover {
            border-radius: 100%;
            transition: all 0.5s ease-in-out;
        }

        * {
            font-size: 25px;
            border-radius: 10px;
        }
    }

    menubar {
        background-color: transparent;
    }
}
