name: Darwin Binary Cache

on: [push, pull_request, workflow_dispatch]
jobs:
    nix:
        name: 'Build'
        # Since I don't have a MacOS machine, we take advantage of microslop's infra
        runs-on: macos-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6
              with:
                  submodules: recursive

            - uses: cachix/install-nix-action@v31
              with:
                  github_access_token: ${{ secrets.GITHUB_TOKEN }}
                  extra_nix_config: |
                      accept-flake-config = true

            - uses: DeterminateSystems/flakehub-cache-action@main
            - uses: cachix/cachix-action@v16
              with:
                  name: matt-darwin
                  authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

            - name: Build darwin config
              run: |
                  # Rename files that conflict with nix-darwin activation
                  sudo mv /etc/nix/nix.conf{,.before-nix-darwin} || true
                  sudo mv /etc/bashrc{,.before-nix-darwin} || true
                  sudo mv /etc/zshrc{,.before-nix-darwin} || true
                  sudo mv /etc/shells{,.before-nix-darwin} || true

                  # add main user for home-manager activation
                  sudo sysadminctl -addUser mhurtubise

                  # Build and switch to config
                  nix --extra-experimental-features 'nix-command flakes' build .#darwinConfigurations.MGCOMP0192.system
                  sudo ./result/sw/bin/darwin-rebuild switch --flake .#MGCOMP0192
